@model SamaERP.Models.PaginatedList<SamaERP.Models.ACCEmployeeDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!-- page content -->
<div class="right_col" role="main">
    <div class="">


        <a style="font-size:small;" class="btn btn-secondary pb-2 mb-0" asp-area="Accounting" asp-controller="EmployeeDetails" asp-action="Create"> Add New Employee <span class="fa fa-pencil"></span></a>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead style="background-color:white;">
                                            <tr>
                                                <th>
                                                    <a asp-area="Accounting" asp-controller="EmployeeDetails" asp-action="Index" asp-route-sortOrder="@ViewData["Col1SortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Employee Name</a>
                                                </th>
                                                <th>
                                                    <a asp-area="Accounting" asp-controller="EmployeeDetails" asp-action="Index" asp-route-sortOrder="@ViewData["Col2SortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Department</a>
                                                </th>
                                                <th>
                                                    <a asp-area="Accounting" asp-controller="EmployeeDetails" asp-action="Index" asp-route-sortOrder="@ViewData["Col3SortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Job Title</a>
                                                </th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="mt-1 mb-1 pt-1 pb-1 align-middle">
                                                        @Html.DisplayFor(modelItem => item.EmployeeName)
                                                    </td>
                                                    <td class="mt-1 mb-1 pt-1 pb-1 align-middle">
                                                        @Html.DisplayFor(modelItem => item.Department)
                                                    </td>

                                                    <td class="mt-1 mb-1 pt-1 pb-1 align-middle">
                                                        @Html.DisplayFor(modelItem => item.JobTitle)
                                                    </td>

                                                    <td class="mt-1 mb-1 pt-1 pb-1 align-middle">
                                                        <div class="tools">
                                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary  btn-sm"><i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success  btn-sm"><i class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Details"></i></a>
                                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger  btn-sm"><i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Delete"></i></a>

                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


