@model SamaERP.Models.ACCSupliers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="right_col" role="main">


    <div class="x_content">

        <br />
        <table class="table table-bordered table-striped" width="100%">
            <tr>
                <td width="15%">
                    <label style="font-size:medium;font-weight:500;">Supplier  Name :</label>
                </td>
                <td colspan="3">
                    <strong style="font-size:medium;font-weight:700;color:black;">  @Html.DisplayFor(model => model.SuplierName)</strong>
                </td>

            </tr>
            <tr>
                <td width="15%">
                    <label style="font-size:medium;font-weight:500;">Phone Number :</label>
                </td>
                <td width="35%">
                    <strong style="font-size: medium; font-weight: 700; color: black; ">    @Html.DisplayFor(model => model.PhoneNo)</strong>
                </td>
                <td width="15%">
                    <label style="font-size:medium;font-weight:500;">E-mail :</label>
                </td>
                <td width="35%">
                    <strong style="font-size: medium; font-weight: 700; color: black; ">    @Html.DisplayFor(model => model.Email)</strong>

                </td>
            </tr>
            <tr>
                <td width="15%">
                    <label style="font-size:medium;font-weight:500;">Address :</label>
                </td>
                <td colspan="3">
                    <strong style="font-size: medium; font-weight: 700; color: black; ">   @Html.DisplayFor(model => model.Addr)</strong>

                </td>

            </tr>
            <tr>
                <td width="15%">
                    <label style="font-size: medium; font-weight: 500;"> Specialization :</label>
                </td>
                <td colspan="3">
                    <strong style="font-size: medium; font-weight: 700; color: black; ">    @Html.DisplayFor(model => model.SuplierType)</strong>

                </td>

            </tr>
            <tr>
                <td width="15%">
                    <label style="font-size:medium;font-weight:500;"> Added By :</label>
                </td>
                <td width="35%">
                    <strong style="font-size: medium; font-weight: 700; color: black; ">      @Html.DisplayFor(model => model.AddedBy)</strong>
                </td>
                <td width="15%">
                    <label style="font-size:medium;font-weight:500;">Adding Time :</label>
                </td>
                <td width="35%">
                    <strong style="font-size: medium; font-weight: 900; color: black;">    @Html.DisplayFor(model => model.AddingDate)</strong>
                </td>
            </tr>


        </table>


    </div>

    <br />




</div>
