@model SamaERP.Models.ACCFixedAssets

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="right_col" role="main">


    <div class="clearfix"></div>



    <br />
    <table class="table table-bordered table-striped" width="100%">
        <tr>
            <td width="15%">
                <label style="font-size:medium;font-weight:500;">Asset's' Name :</label>
            </td>
            <td colspan="3">
                <strong style="font-size:medium;font-weight:700;color:black;">  @Html.DisplayFor(model => model.AssetName)</strong>
            </td>

        </tr>
        <tr>
            <td width="15%">
                <label style="font-size:medium;font-weight:500;">Category :</label>
            </td>
            <td width="35%">
                <strong style="font-size: medium; font-weight: 700; color: black; ">    @Html.DisplayFor(model => model.Category)</strong>
            </td>
            <td width="15%">
                <label style="font-size:medium;font-weight:500;">Description :</label>
            </td>
            <td width="35%">
                <strong style="font-size: medium; font-weight: 700; color: black; ">    @Html.DisplayFor(model => model.Description)</strong>

            </td>
        </tr>
        <tr>
            <td width="15%">
                <label style="font-size:medium;font-weight:500;">Estimated Value :</label>
            </td>
            <td colspan="3">
                <strong style="font-size: medium; font-weight: 700; color: black; ">   @Html.DisplayFor(model => model.EstimatedValue)</strong>

            </td>

        </tr>
        <tr>
            <td width="15%">
                <label style="font-size: medium; font-weight: 500;"> Quantity :</label>
            </td>
            <td colspan="3">
                <strong style="font-size: medium; font-weight: 700; color: black; ">    @Html.DisplayFor(model => model.Quantity)</strong>

            </td>

        </tr>
        <tr>
            <td width="15%">
                <label style="font-size: medium; font-weight: 500;"> Brand :</label>
            </td>
            <td colspan="3">
                <strong style="font-size: medium; font-weight: 700; color: black; ">    @Html.DisplayFor(model => model.BrandName)</strong>

            </td>

        </tr>
        <tr>
            <td width="15%">
                <label style="font-size:medium;font-weight:500;"> Added By :</label>
            </td>
            <td width="35%">
                <strong style="font-size: medium; font-weight: 700; color: black; ">      @Html.DisplayFor(model => model.AddedBy)</strong>
            </td>
            <td width="15%">
                <label style="font-size:medium;font-weight:500;">Adding Time :</label>
            </td>
            <td width="35%">
                <strong style="font-size: medium; font-weight: 900; color: black;">    @Html.DisplayFor(model => model.AddingDate)</strong>
            </td>
        </tr>


    </table>




    <br />


</div>

